html,
body,
#root {
  height: 100%;
}
body {
  background: grey;
  margin: 0;
  display: grid;
  padding: 3em;
  place-items: center;
}
.boxes {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  grid-template-rows: auto;
}
.box {
  color: lightgrey;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 80vh;
  h1 {
    color: lightgrey;
    font-size: 20px;
    margin: 0 0 1rem 0;
  }
  h4 {
    color: rgb(204, 101, 5);
  }
  .content {
    h6 {
      color: rgb(204, 101, 5);
    }
    padding-top: 1em;
  }
  ol {
    margin-left: 0;
    li {
      align-items: center;
      display: flex;
      justify-content: flex-start;
    }
  }
}
.button {
  background: orange;
  border: 1px solid transparent;
  color: white;
  margin-right: 1em;
  padding: 0.25em 0.75em;
  transition: all 0.25s ease-in;
  &:hover {
    background: black;
    border: 1px solid orangered;
    color: #333;
  }
}
